

/*=====CSS for Dropdown Menus=====*/

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #d06060;
}
li {
    float: left;

}
li a, .dropbtn {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
li a:hover, .dropdown:hover .dropbtn {
    background-color: orange;
}
li.dropdown {
    display: inline-block;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: orange;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}
.dropdown-content a {
    color: black;
    padding: 8px 8px;
    text-decoration: none;
    display: block;
    text-align: left;
}
.dropdown-content a:hover {background-color: #f1f1f1}
.dropdown:hover .dropdown-content {
    display: block;
}
/*===end of drop down css*/


/*CSS for Animation and flex*/
  /* start animation */

#scale-in-center {
	-webkit-animation: scale-in-center 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: scale-in-center 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        flex:1;
	        order: 1;

}


@-webkit-keyframes scale-in-center {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
}
@keyframes scale-in-center {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
}

 .Welcome{
    flex: 1;
    order: 2;
    }

  .shadow-div{
  	text-shadow: 5px 10px 5px black;
  }

.container-1{
  
    display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	align-content: center;
        
  }

h2{
	color:#3a3a7b;
	font-family: 'Lato', sans-serif;
font-family: 'Lobster', cursive;
}



/* end animation*/



body {
 background-image: url("https://www.itl.cat/pngfile/big/166-1666671_wood-background-food-fruit-table-fruit-on-table.jpg");
 background-repeat: repeat;
}

/*/* Add a background color to the top navigation Home, contact us etc..*/
/*nav ul {
  overflow: hidden;
  background-color: white;

}


nav li{

	display: inline;
	font-size: 20px;
	margin-right: 30px;
	font-family: sans-serif;
}

/* Style the links inside the navigation bar */
/*nav a {

	text-decoration: none;
	color:black;

}

/* Change the color of links on hover */
/*nav a:hover{
	text-decoration: underline;
	color:Red;
}*/

/*SEarch button*/

.search{
	
	 float: right;
	position: relative;
 	 width:200px ;
  
}

.searchButton{
	
	 float: right;
  
  width: 50%;
  padding: 0px;
 
  color: black;
  font-size: 12px;
  border: 1px solid grey;  

}

.titleOfthePage{

	position: center;
	margin-top: 50px;
	color:Maroon;
	font-family: 'Crimson Text', serif;
font-family: 'Baloo Chettan 2', cursive;
}



/*Home page*/
.restaurantList{
	margin-top: 100px;

}

/*h1{
	color:Maroon;
	font-family: 'Crimson Text', serif;
font-family: 'Baloo Chettan 2', cursive;
}*/


table,th,td {
	border: 1px solid black;
}

table {


	background-color: Orange;
	padding:2px;
	margin:0 auto; /* when the is two numbers, 
	the first number is for top+bottom, the secon is for right+left 
	or use margin-left , margin right */
}

th,td {
	background-color: white;
	padding: 12px;
}



div{
	margin-bottom: 20px;
	margin-left:20px;
}


/*contact Us page*/

button{
	
	border:1px solid black;
	padding:10px 25px;
	display: block;
	margin-bottom:20px;
	box-shadow: 0 12px 12px 0 rgba(0,0,0,0.5), 0 6px 20px 0 rgba(0,0,0,0.19);
	border-radius: 15px;
}

button:hover{
	background-color: black;
	color:white;

}

.blackButton{

	display:inline-flex;
	flex-direction: row;
	border:1px solid black;
	margin-right: 20px;
	transition: 0.5s;
}

.blackButton:hover{
	
	background-color: black;

}

.redButton{
display: inline-flex;
	border:1px solid red;
	margin-right: 20px;
	transition: 0.5s;
}

.redButton:hover{
	
	background-color: red;

}

.blueButton{
	display: inline-flex;
border:1px solid blue;
transition: 0.5s;

}

.blueButton:hover{
background-color:blue;
}


.Submit{
	border:1px solid black;
	padding:10px 25px;
	display: block;
	font-weight: bold;
	margin-bottom:20px;
	box-shadow: 0 12px 12px 0 rgba(0,0,0,0.5), 0 6px 20px 0 rgba(0,0,0,0.19);
	border-radius: 8px;
}




form input, form select{
	display:inline;
	margin-left:20px;

}

.inline{
	display: inline;
}


/*Events page*/


.FundButton {
    
  text-align: center;
    
  transition: all 0.5s;
  cursor: pointer;
 
}

.FundBUtton span {
	cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}


.FundButton span:after  {
 
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.FundButton:hover span {
  padding-right: 25px;
}



.Fundbutton:hover span:after {
  opacity: 1;
  right: 0;
}



#paragraphSpace
{
 margin-top: 200px;/*a block of paragraph text I want to
  create a break or space above it, but only that specific paragraph*/
} 



























